In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv', encoding = 'latin', sep = ';')

In [3]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

Q1.  Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라

In [4]:
a = df.groupby('Tm').get_group('TOR')

In [5]:
b = df[df.Tm == 'TOR'].Age.mean()
print(round(b, 4))

24.8696

In [6]:
print(round(a['Age'].mean(),4))

24.8696

Q2. Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 

그들 중 가장 많은 포지션은 무엇인지 확인하라

In [7]:
q2 = df[df.Age == df.Age.min()].Pos.value_counts().index[0]
print(q2)

SG

Q3. 선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 

가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라

In [8]:
df['Player'].str.split(' ').str[0].value_counts().index[0]

'Justin'

Q4.  PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라

In [9]:
q4 = df.groupby('Pos')['PTS'].mean()
print(q4)

Pos
C         7.690769
C-PF     12.850000
PF        7.737500
PF-SF     8.500000
PG        8.325161
PG-SG    22.000000
SF        7.270253
SF-SG     8.660000
SG        7.810553
SG-PG     9.525000
SG-SF     7.360000
Name: PTS, dtype: float64

Q5. G컬럼은 참여한 경기의 숫자이다. 

각 (팀별)로 (가장 높은 경기참여 수)를 가진 (선수들의 경기 참여 숫자의 평균)을 구하여라

In [10]:
q5 = df.groupby('Tm')['G'].max().mean()
print(q5)

77.51612903225806

Q6. Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은?

In [11]:
q6 = df[(df.Tm == 'MIA') & (df.Pos.isin(['C', 'PF']))].MP.mean()
print(q6)

16.7875

Q7. 전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?

In [12]:
df['G'].mean()

36.70443349753695

In [13]:
q7 = df[df.G >= (df.G.mean()*1.5)]['3P'].mean()
print(q7)

1.3853658536585365

Q8.  Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?

In [16]:
a = df[df.Age >= df.Age.mean()].G.mean()
b = df[df.Age < df.Age.mean()].G.mean()

print(abs(a-b))

3.787674551781862

Q9. 평균나이가 가장 젊은 팀은 어디인가

In [29]:
q9 = df.groupby('Tm').Age.mean().sort_values().index[0]
print(q9)

MEM

Q10. Pos그룹별 평균 MP값을 구하여라

In [30]:
q10 = df.groupby('Pos')['MP'].mean()
print(q10)

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64

In [31]:
cd '/content/drive/MyDrive/BigData/Exam'

/content/drive/MyDrive/BigData/Exam

In [ ]:
!git config --global user.name 'dydwns9436'
!git config --global user.email 'dydwns9436@naver.com'

!git add Final_Test_01